$first-color: #032139; // background,
$second-color: #47AECC;
$third-color: #134D72; // border detail,
$fourth-color: #5CBAD7; // navbar hover color,
$fifth-color: #8C7DFC;
$sixth-color: #3C67A6;
$seventh-color: #8C93FE;
$eigth-color: #DEECF9;
$ninth-color: #ECF4FE; // text color against first color,

$jbly-dark: #60B9EF;
$jbly-light: #2691D3;
$danger: #AB0D7C;

*, button, h1, h2, h3, h4, h5, h6, li, input, .title, .subtitle, p {
  font-family: 'Tajawal', sans-serif;
  color: $first-color;
}

body {
  // DIVIDERS & COLOR
  hr {
    height: 3px;
    background-color: $third-color;
  }

  .success {
    background-color: $third-color;
    color: $ninth-color;
  }

  .warning {
    background-color: $danger;
    color: $ninth-color;
  }

  .info {
    background-color: $jbly-light;
    color: $ninth-color;
  }
  
  // BROAD STYLES
  background-color: $first-color;
  width: 100vw;
  min-height: 100vh;
  .container {
    background-color: $eigth-color;
    &.extra {
      padding: 16px;
    }
  }

  // NAVBAR STYLES
  nav.navbar {
    background-color: $first-color;
    border-bottom: 2px solid $third-color;
    color: $ninth-color;
    .navbar-home-link {
      width: 100px;
      img {
        padding-right: 10px;
      }
      span {
        font-size: 18px;
        font-weight: 800;
        padding-top: 10px;
      }
    }
    a {
      color: $ninth-color;
      transition: 0.4s;
      &:hover {
        background-color: $jbly-light;
        color: $first-color;
        transition: 0.4s;
      }
    }
  }

  .navbar-menu.is-active {
    text-align: center;
    background-color: $first-color;
  }

  // RESIZING IMAGES ON EMPLOYERS INDEX
  .card-img {
    height: 200px;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
  }

  // EMPLOYER REGISTER/ EDIT
  .text-area-pad {
    padding-left: 35px;
  }

  // JOBS NEW PAGE
  table {
  width: 100%;
    tr {
      td {
        text-align: center;
      }
    }
  }

  // JOBS SHOW PAGE
  .icons-li {
    text-align: center;
    padding: 0px 8px;
  }

  // JOB CARDS
  .card-content p {
    padding-bottom: 2px;
  }

  // REUSABLE STYLES
  .cta-caddy {
    position: relative;
    min-height: 40px;
    .cta-partner-lrg {
      max-width: calc(100% - 140px);
    }
    .cta-partner-sml {
      max-width: calc(100% - 55px);
    }
    .cta {
      position: absolute;
      top: 0;
      right: 0;
      z-index: 2;
    }
    .cta-fave {
      position: absolute;
      top: 15px;
      right: 15px;
      z-index: 2;
    }
  }

  .max-width {
    width: 100%;
  }

  .text-center {
    text-align: center;
  }

  .low-opacity {
    opacity: 0.5;
  }

  .capitalize {
    text-transform: capitalize;
  }

  .underline {
    text-decoration: underline;
  }

  .padding-top {
    padding-top: 10px;
  }

  // HOMEPAGE
  .hero {
    max-width: 200px;
    margin: 16px 16px 32px 16px;
  }

  // LOGO INVERT COLOR
  .white-out:hover {
  filter: brightness(1) invert(0);
  }

  .white-out {
    filter: brightness(0) invert(1);
  }
}



// .repeater-input {
//   display: inline-block;
//   width: 93vw;
// }
//
// .repeater-remove {
//   display: inline-block;
//   width: 2vw;
// }

.star {
  height: 20px;
}

// LOGIN/REGISTER SPLASH PAGE
.login-register {
  display: flex;
  justify-content: center;
  height: 320px;
  margin: 0 auto;
  max-width: 600px;
  div {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    h2 {
      text-align: center;
    }
    .button {
      width: 300px;
      margin-top: 10px;
    }
  }
}
